main {
	background-image:linear-gradient(to right, lightblue, white);
	/*background-color:#85C1E9;*/
	padding:10px;
}

ul {
	background-color:#5D6D7E;
	padding-left:0px;
}

li {
	display:inline-block;
	padding:10px;
}

a {
	color:white;
	text-decoration:none;
	font-size:20px;
}

.slider-img {
	margin:5px;
	width:1300px;
	height:100%;
}

.image {
	margin:15px 15px 0px 5px;
	width:300px;
	height:300px;
	float:left;
}

p {
	text-align:justify;
	column-count:4;
	column-rule:5px double black;
	column-gap:20px;
}

.footer {
	background-color:black;
	padding-bottom:10px;
}

.footer h2 {
	text-align:center;
	color:white;
}